<main class="max-w-4xl mx-auto px-4 py-16">
  <h2 class="text-3xl font-bold mb-4 text-center">Contacto</h2>
  <img
    src="assets/images/me-coding.jpg"
    class="mx-auto w-64 rounded-[2vw] shadow-regal-blue mb-8"
    alt="uri coding"
  />
  <p class="text-lg mb-2 leading-relaxed">
    ¿Te gustaría trabajar conmigo, tienes una duda o solo quieres charlar sobre desarrollo y tecnología?
    Estoy abierto a colaboraciones, proyectos interesantes o simplemente intercambiar ideas.
    No dudes en escribirme, estaré encantado de leerte.
  </p>

  <div class="grid md:grid-cols-4">
    <div>
      <a
      class="text-xl font-semibold mb-2 flex flex-row items-center"
      href="https://www.linkedin.com/in/uri-alcantar-avila/"
      target="_blank"
      rel="noopener noreferrer"
      >
      <i class="fa-brands fa-linkedin"></i>
      LinkedIn
    </a>
    </div>

    <div>
      <div>
      <a
      class="text-xl font-semibold mb-2 flex flex-row items-center"
      href="https://www.linkedin.com/in/uri-alcantar-avila/"
      target="_blank"
      rel="noopener noreferrer"
    >
       <i class="fa-brands fa-github"></i>
      Github

    </a>
    </div>
    </div>

     <div>
      <div>
      <a
      class="text-xl font-semibold mb-2 flex flex-row items-center"
      href="mailto:alcantar.uri.j@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
       <i class="fa-solid fa-envelope"></i>
      Email

    </a>
    </div>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-2">💼 Experiencia</h3>
    </div>

  </div>
</main>
